:root {
  --header-heading-color: rgb(200, 220, 230);
  --header-heading-color-hover: rgb(200, 245, 255);
  --a: rgb(80, 180, 255);
  --a-hover: rgb(70, 225, 255);
}

h1,
h2 {
  margin: 5px;
  color: var(--header-heading-color);
}

h1:hover {
  color: var(--header-heading-color-hover);
}

nav {
  margin: 5px 5px;
}

a {
  font-weight: 500;
  color: var(--a);
  text-decoration: inherit;
  transition: color 0.25s;
}

a:hover {
  color: var(--a-hover);

}

hr {
  border: 1px solid rgb(40, 50, 50);
  border-radius: 1px;
  width: 90%;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-heading-color: rgb(25, 50, 50);
    --header-heading-color-hover: rgb(25, 70, 70);
    --a: rgb(80, 180, 255);
    --a-hover: rgb(70, 225, 255);
  }
}