:root {
  --header-heading-color: rgb(200, 230, 230);
  --header-heading-color-hover: rgb(200, 255, 255);
}

h1,
h2 {
  margin: 5px 25px;
  color: var(--header-heading-color);
}

h1:hover {
  color: var(--header-heading-color-hover);
}

nav {
  margin: 5px 30px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

hr {
  border: 1px solid rgb(40, 50, 50);
  border-radius: 1px;
  width: 90%;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-heading-color: rgb(25, 50, 50);
    --header-heading-color-hover: rgb(25, 70, 70);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}