:root {
  --header-heading-color: rgb(200, 220, 230);
  --header-heading-color-hover: rgb(200, 245, 255);
  --a: rgb(80, 180, 255);
  --a-hover: rgb(70, 225, 255);
}

h1,
h2 {
  margin: 5px;
  color: var(--header-heading-color);
}

h1:hover {
  color: var(--header-heading-color-hover);
}

nav {
  margin: 5px 5px;
}

a {
  font-weight: 500;
  color: var(--a);
  text-decoration: inherit;
  transition: color 0.25s;
}

a:hover {
  color: var(--a-hover);

}

hr {
  border: 1px solid rgb(40, 50, 50);
  border-radius: 1px;
  width: 90%;
}

.aviso {
  display: flex;
  width: 100%;
  height: auto;
  margin: 5px 0;
  padding: 0;
  justify-content: center;

  .sucesso,
  .erro,
  .alerta {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 90%;
    min-height: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-style: inset;

  }

  .erro {
    color: rgb(220, 125, 125);
    border-color: rgba(220, 125, 125, .6);
    box-shadow: 3px 3px 6px rgba(220, 125, 125, .1);
    background-color: rgba(220, 125, 125, .1);
    opacity: 0;
    animation: alertaFade 4s forwards;
  }

  .sucesso {
    color: rgb(125, 200, 125);
    border-color: rgba(125, 200, 125, .6);
    box-shadow: 3px 3px 6px rgba(125, 200, 125, .1);
    background-color: rgba(125, 200, 125, .1);
    opacity: 0;
    animation: alertaFade 4s forwards;
  }

  .alerta {
    color: rgb(200, 200, 125);
    border-color: rgba(200, 200, 125, .6);
    box-shadow: 3px 3px 6px rgba(200, 200, 125, .1);
    background-color: rgba(200, 200, 125, .1);
    opacity: 0;
    animation: alertaFade 4s forwards;
  }


}

@keyframes alertaFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --header-heading-color: rgb(25, 50, 50);
    --header-heading-color-hover: rgb(25, 70, 70);
    --a: rgb(80, 180, 255);
    --a-hover: rgb(70, 225, 255);
  }
}