:root {}

.config {
    h3 {
        margin: 10px 0 0 10px;
    }

    form {
        margin: 0 15px;
    }
}

.config .config-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
}

.config-body {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 10px;
    height: 500px;

    .p1 {
        display: grid;
        grid-template-rows: 30% 1fr;
        gap: 5px;
    }

    .p2 {
        display: grid;
        grid-template-columns: 1fr 33% 33%;
        gap: 5px;
    }
}