:root {
    --input-height: 35px;
    --button-height: 40px;
    --border-color: inherit;
    --button-border-color: inherit;

    -webkit-focus-ring-color: var(--border-color);

}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    div.field {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        min-width: 200px;

        label {
            margin-left: 5px;
        }

        input {
            width: 100%;
            padding: 0 5px 0 5px;
            height: var(--input-height);
            border-radius: 4px;
            border: 1px solid transparent;
            transition: border-color 0.25s;
        }

        input:hover {
            border-color: var(--border-color);
        }

        input:focus,
        input:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }

    }

    div.button {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px;
    }
}

form.form-left {
    justify-content: start;

    div.field {
        align-items: start;
    }

    div.button {
        justify-content: start;
    }
}

button {
    border-radius: 4px;
    border: 1px solid var(--button-border-color);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-bg-color);
    cursor: pointer;
    transition: border-color 0.25s;

    height: var(--button-height);
    min-width: 150px;
    padding: 0;
}

button:hover {
    border-color: var(--border-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}