@import "./layout.css";
@import "./form.css";
@import "./component.css";

* {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(35, 35, 35);

  --color: rgb(235, 245, 255);
  --border-color: rgb(71, 145, 165);
  --button-bg-color: rgb(55, 60, 65);
  --button-border-color: rgb(30, 30, 30);
  --frame-border-color: rgb(65, 70, 75);

  --painel-bg-color: rgb(40, 40, 40);
  --painel-border-color: rgb(33, 33, 33);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(255, 255, 255);
    --color: #213547;
    --border-color: rgb(71, 165, 165);
    /* falta variar */
    --button-bg-color: rgb(240, 250, 250);

  }
}