:root {
  --bg-color: inherit;
  --color: inherit;
  --border-color: inherit;
  --button-bg-color: inherit;
  --painel-border-color: inherit;
}

body {
  /* index.html */
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

div#root {
  /* index.html */
  width: 100vw;
  min-width: 320px;
  max-width: 1280px;
  height: 100vh;

  /*
    Possui 2 elementos definidos em App.tsx
    header e main
    O elemento espera possui exibição fixa
  */
  display: grid;
  grid-template-rows: 100px 1fr;
}

main {
  /* App.tsx */
  width: 100%;
  overflow-y: auto;
}

/* Painel */
.painel {
  border: 1px solid var(--painel-border-color);
  border-radius: 0;
  padding: 5px;
}

.painel-lista {
  display: grid;
  grid-template-rows: 40px 1fr;

  .painel-header {
    padding: 0 5px 0 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    button {
      height: 30px;
      min-width: initial;
      width: 30px;
    }
  }

  .painel-body {
    overflow-y: auto;

    .painel-item {
      font-weight: 500;
      text-align: center;
      cursor: default;
    }

    .painel-item.lnk {
      text-decoration: inherit;
      color: var(--a);
      cursor: pointer;
      transition-property: font-size, color;
      transition-duration: 0.1s, 0.25s;
    }

    .painel-item.lnk:hover {
      color: var(--a-hover);
    }

    .painel-item.lnk.selected {
      color: var(--a-selected);
      font-size: 110%;
      cursor: default;
    }
  }
}



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */