/*
    Renderizado diretamente em main
*/

.config-main {

    width: 100%;

    /* 2 componentes, config-header e config-body. */
    display: grid;
    grid-template-rows: 60px 1fr;

    .config-body {
        min-height: 0;
    }
}

.config-main h3 {
    margin: 10px 0 0 10px;
}

.config-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;

}

.config-body {

    padding: 5px;
    /*
        coluna 1: Família e Integrantes
        coluna 2: Diversos.
    */
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 5px;

    /* Paineis Familia e Integrantes */
    .c1 {
        display: grid;
        grid-template-rows: 15% 1fr;
        gap: 5px;
    }

    /* 
        Coluna 2 (Diversos)
            Painel Familia 
                ou
            Paineis (
                Coluna 1: Integrante, Categorias, Contas
            ) e (
                Coluna 2: IntegranteEdit, CategoriaEdit ou ContaEdit
            )
    */
    .c2 {
        display: grid;
        grid-template-columns: 33% 1fr;
        gap: 5px;
    }

    .c2-c1 {
        display: grid;
        grid-template-rows: 15% 40% 1fr;
        gap: 5px;
    }

    .c2-c2 {
        display: grid;
    }
}